@model MemosVM

@{
    ViewData["Title"] = "About";
}

<h2>ToDo App</h2>

<div class="new-cat">
    <input type="text" id="newcatname" />
    <p>
        <a href="#" id="newcata">Dodaj Nową Kategorię</a>
        <span class="ajax-text"></span>
    </p>
</div>
<br />

@foreach (var item in Model.Categories)
{
    <div class=" text-right img-rounded ">
        <div class="panel panel-default">
            <div class="panel-heading text-left">
                @item.Name
                <button class="pull-right">
                    @Html.ActionLink("Usuń", "DeleteCategory", new { id = item.Id }, new { @class = "deleteCat" })
                </button>
            </div>
            @foreach (var mem in Model.Mementoes.Where(x => x.CategoryId == item.Id))
            {
                <div class="panel-body text-left post-detail @mem.Done" id="memText">
                    @mem.Text
                    <button class="pull-right">
                        @Html.ActionLink("Usuń", "DeleteMemento", new { id = mem.Id }, new { @class = "deleteMem" })
                    </button>
                    <input type="checkbox" id="@mem.Id" class=" memDone @mem.Done" checked="@mem.Done" />
                </div>
            }
        </div>
    </div>
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section Scripts
    {
    <script>
        $(function () {
            //Chenging memento Done(true/false) 
            var memDone = $("input.memDone");
            memDone.click(function () {
                var memText = $(this).parent();
                var memD = $(this);
                console.log(memD);
                if (memText.hasClass('False')) {
                    memText.removeClass('False');
                    memText.addClass('True');
                } else {
                    memText.removeClass('True');
                    memText.addClass('False');
                }
            })

            //Delete confirm
            $("body").on("click", "a.deleteMem", function () {
                if (!confirm("Confirm deletion of memento."))
                    return false;
            });
            $("body").on("click", "a.deleteCat", function () {
                if (!confirm("Confirm deletion of category."))
                    return false;
            });

            //Add new Category
            var newCatA = $("a#newcata");
            var newCatTextInput = $("#newcatname");
            var ajaxText = $("span.ajax-text");

            newCatTextInput.keyup(function (e) {
                if (e.keyCode == 13) {
                    newCatA.click();
                }
            })

            newCatA.click(function (e) {
                e.preventDefault();

                var catName = newCatTextInput.val();

                if (catName.length < 2) {
                    alert("Nazwa kategorii musi mieć conajmniej 2 znaki!");
                    return false;
                }

                var url = "/Home/AddNewCategory"

                $.post(url,
                    { catName: catName },
                    function (data) {
                        var response = data.trim();
                        if (response == 'Exists') {
                            ajaxText.html("<span class='alert alert-danger'>This category exists!</span>")
                            setTimeout(function () {
                                ajaxText.fadeOut("fast");
                            },
                                2000);
                            return false;
                        } else {
                            ajaxText.html("<span class='alert alert-success'>The category has been added.</span>")
                            setTimeout(function () {
                                ajaxText.fadeOut("fast").done(location.reload());
                            },
                                1500);
                            newCatTextInput.val("");
                        }
                    })
            })
        })
    </script>
}