@model MemosVM

@{
    ViewData["Title"] = "About";
}

<h2>About</h2>

@foreach (var item in Model.Categories)
{
    <div class=" text-right img-rounded ">
        <div class="panel panel-default">
            <div class="panel-heading text-left">
                @item.Name
                <button class="pull-right">
                    @Html.ActionLink("Usuń", "DeleteCategory", new { id = item.Id }, new { @class = "deleteCat" })
                </button>
            </div>
            @foreach (var mem in Model.Mementoes.Where(x => x.CategoryId == item.Id))
            {
            <div class="panel-body text-left post-detail @mem.Done" id="memText">
                @mem.Text
                <button class="pull-right">
                    @Html.ActionLink("Usuń", "DeleteMemento", new { id = mem.Id }, new { @class = "deleteMem" })
                </button>
                <input type="checkbox" id="@mem.Id" class=" memDone @mem.Done" checked="@mem.Done" />
            </div>
            }
        </div>
    </div>
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th></th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

@section Scripts
{
    <script>
        $(function () {
            var memDone = $("input.memDone");
            memDone.click(function () {
                var memText = $(this).parent();
                var memD = $(this);
                console.log(memD);
                if (memText.hasClass('False')) {
                    memText.removeClass('False');
                    memText.addClass('True');
                } else {
                    memText.removeClass('True');
                    memText.addClass('False');
                }
            })

            $("body").on("click", "a.deleteMem", function () {
                if (!confirm("Potwierdzasz usunięcie przypomnienia?"))
                    return false;
            });
            $("body").on("click", "a.deleteCat", function () {
                if (!confirm("Potwierdzasz usunięcie kategorii?"))
                    return false;
            });
        })
    </script>
}